/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Boton bajar en new game>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.boton-circular{
  width:95px;
  height:95px;
  background-color:#d19900;
  margin: 10px;
  padding:15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.boton-circular a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
.boton-circular:hover {
  color: rgb(0, 0, 0);/* color de fuente hover */
  text-decoration: none;
}
.boton-circular::after {
  content: "";
  background: #000000; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 9px 55px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
  text-decoration: none;
}
.boton-circular:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.arrow{
  width: 65px;
  height: 75px;
}