* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .carousel-container {
    width: 1100px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #aaa;
  }
  @media (max-width: 768px) {
    .carousel-container {
      width: 95%;
    }
  }
  .inner-carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }
  .card-container {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    padding-right: 10px;
  }
  @media (max-width: 768px) {
    .card-container {
      width: 184px;
    }
  }
  .card {
    width: 100%;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    background-position: center bottom;
    background-size: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .card1 {
    background-image: url("../assets/img/The_Simpsons_Hit_run.png");
  }
  .card2 {
    background-image: url("../assets/img/grand-theft-auto-vice-city.png");
  }
  .card3 {
    background-image: url("../assets/img/The_Simpsons_Hit_run.png");
  }
  .card4 {
    background-image: url("../assets/img/The_Simpsons_Hit_run.png");
  }
  .card5 {
    background-image: url("../assets/img/1053662.png");
  }
  .card6 {
    background-image: url("../assets/img/4cdf2e.png");
  }
  .card7 {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/30/22/00/pumpkin-2989569_960_720.jpg");
  }
  .card8 {
    background-image: url("https://cdn.pixabay.com/photo/2016/07/24/22/25/woman-1539416_960_720.jpg");
  }
  .card9 {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/15/09/28/music-player-2951399_960_720.jpg");
  }
  .card10 {
    background-image: url("https://cdn.pixabay.com/photo/2018/02/23/04/38/laptop-3174729_960_720.jpg");
  }
  .card11 {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/30/woman-1245817_960_720.jpg");
  }
  .card12 {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/08/05/31/adorable-1807544_960_720.jpg");
  }
  
  .nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 1px solid rgb(52, 51, 51);
    cursor: pointer;
    background-color: rgb(52, 51, 51);
  }
  .nav .prev {
    left: -30px;
    display: none;
  }
  .nav .prev.show {
    display: block;
  }
  .nav .next {
    right: -30px;
  }
  .nav .next.hide {
    display: none;
  }

  .nav button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  i {
    font-size: 50px;
    color: beige;
    text-align: center;
  }